*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6d010;
    color: #301be6;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}